.services-menu {
    position:absolute;
    width:147px;
    right:-151px;
}
.services-menu li{
	font-size:13px;
    padding-left: 30px;
	margin-bottom: 25px;
    background-repeat: no-repeat;
    min-height: 23px;
    cursor: pointer;
}
.services-menu li.pic{
    padding-left: 40px;
    padding-right: 30px;
}
.services-menu li a {
    display:block;
    width: 100%;
    height: 100%;
    font-family: 'VWD4 Black';
    line-height: 15px;
}
.right_menu_link{
    color:#2274AC;

}
.right_menu_link:hover{
    display:inline;
	color:#2274AC;
	text-decoration: none;
	border-bottom: 1px solid #2274AC;
}
.pic a {
    color: #FFF;
    padding-top: 5px;
}
.pic:hover a{
     color:#2274AC; 
}
.pic.service{
        background: url('/img/menu/button-service-no-text.png') no-repeat scroll 0 -46px;
        height: 46px;
    }
.pic.testdrive{
    background: url('/img/menu/button-test-drive-no-text.png') no-repeat scroll 0 -46px;
     height: 46px;
}
.pic.tradein{
background: url('/img/menu/button-tradein-no-text.png') no-repeat scroll 0 -46px;
 height: 46px;
 margin-bottom: 10px;
}

.pic.configure{
    background: url('/img/menu/button-config-no-text.png') no-repeat scroll 0 -46px;
     height: 46px;
}
.pic.testdrive, .pic.configure, .pic.service,.pic.tradein{
    margin-bottom: 10px !important;
}
 .pic.testdrive:hover,.pic.configure:hover,.pic.service:hover,.pic.tradein:hover{
    background-position: 0px 0px;
}