$defaultWidth:960px;
$defaultHeight:335px;
$conFsize:20px;
@mixin nulled_mg_pd {
  padding:0;
  margin:0;
}
@mixin no_select {
        -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
}
@mixin arrow_box {
    @include no_select;
      width: 25px;
      height: 25px;
}
@mixin fullBox {
    width:100%;
    height:100%;
}
@mixin fullBoxPX {
width: 280px;
height: $defaultHeight;
}
@mixin carusel_Hmargins {
    margin-right: 5px;
    margin-left: 5px;
}
@mixin corner_lt {
    top: 0;
    left: 0;
}
@mixin transition($second) {
    -webkit-transition-duration: $second;
    -o-transition-duration: $second;
    -moz-transition-duration: $second;
    transition-duration: $second;
}
@font-face {
font-family: "Futuris C";
  src: url("../fonts/FuturisCyrillic.eot");
  src: local('☺'), 
  url("../fonts/FuturisCyrillic.eot") format("embedded-opentype"), 
  url("../fonts/FuturisCyrillic.woff") format("woff"),
  url("../fonts/FuturisCyrillic.ttf") format("truetype"), 
  url("../fonts/FuturisCyrillic.svg") format("svg");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futuris XC";
  src: url("../fonts/FuturisXC-Bold.eot");
  src: local('☺'), 
  url("../fonts/FuturisXC-Bold.eot") format("embedded-opentype"), 
  url("../fonts/FuturisXC-Bold.woff") format("woff"), 
  url("../fonts/FuturisXC-Bold.ttf") format("truetype"), 
  url("../fonts/FuturisXC-Bold.svg") format("svg");

  font-weight: bold;
  font-style: normal;
}
.wrapp {
	width: 1000px;
	height: 500px;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 10px 2px #909090;
	margin: 0 auto;
	padding-top: 20px;
	padding-left: 20px;
}

.banner {
	position: relative;
	width: $defaultWidth;
	height: $defaultHeight;
	border: 1px solid #ccc;
 // background: url('../images/bg_default.jpg') no-repeat;
  background: url('../images/bit.jpg') no-repeat;
  overflow: hidden;
}
.banner .bgImage {
	position: absolute;
	left: 0;
	top: 0;
  width: $defaultWidth;
  height: $defaultHeight;
	z-index: 10;
  background: url('../images/bit.png');
}
.banner .content {
	position: absolute;
	//border: 1px solid #000;
	width: 440px;
	height: 165px;
	right: 135px;
	top: 70px;
  opacity: 0;
}
.banner .content h3 {
  @include nulled_mg_pd;
	text-align: left;
	font-family: "Futuris XC";
	font-size: $conFsize;
}
.banner .content p {
	text-align: justify;
	font-family: "Futuris C";
	font-size: $conFsize;
	margin: 5px 0 5px 0;
  line-height: 23px;
  letter-spacing: -0.5px;
}
.banner .slider-wrapp {
    	width: 490px;
    	height:80px;
    	position: absolute;
    	//right: 100px;
      bottom: 10px;
    }
.banner #slider {
      overflow: hidden;
      width: 482px;
      height: 80px;
    }
.banner #images {
      width: 5000px;
      list-style: none;
      padding: 0;
      margin-top: 12px;
      margin-left: 0px;
    }
.banner #images li {
    	position: relative;
    	overflow: hidden;
      float: left;
      height: 55px;
      width: 82px;
      background: linear-gradient(to top, #c6d0da, #f1f2f4);
	    border: 2px solid #FFF;
	  box-shadow: 1px 1px 2px #b0b9c8;
	  @include transition(0.2s);
    @include carusel_Hmargins;
    }
.banner #images li::before {
  content: "";
  position: absolute;
  display: "block";
  top: -5px;
  left: -5px;
  width: 92px;
  height: 65px;
  background: url('../images/carusel_pattern_2.png');
  background-size: cover;
  z-index: 1;
  opacity: 0.5;
  cursor: pointer;
}
.banner #images li:hover {
  cursor: pointer;
  @include transition(0.2s);
  transform: scale(1.1);
}       
.banner #images li img{
  	position: absolute;
  	width: 82px;
  	bottom:0px;
    }

.banner #arrow-left{
      left: -30px;
    }
.banner #arrow-right {
      right: -20px;
    }
.banner .arrow {
  @include arrow_box;
      top: 25px;
      cursor: pointer;
      text-align: center;
      position: absolute;
      background-color: #fff;
      box-shadow: 1px 1px 2px #b0b9c8;
      font-family: "Futuris XC";
	    vertical-align: middle;
	    line-height: 1.5;
    }
.banner .arrow:active {
      transform: translate(1px,1px);
    }
.snow {
  @include fullBox;
  @include no_select;
	background: url('../images/sno_ani05.gif');
  z-index: 5;
}
.slider-wrapp, .content, .arrow {
  z-index: 6;
}
.banner .branches,
.banner .line_1,
.banner .line_2,
.banner .line_3,
.banner .line_4,
.banner .line_5,
.banner .line_6,
.banner .line_7
 {
  position: absolute;
  width: 280px;
  height: 335px;
  bottom: 0px;
  left: 0px;
}
.banner .branches {
  @include corner_lt;
  z-index: 5;
  width: $defaultWidth;
  height: $defaultHeight;
}
@for $i from 1 through 7 {
   .banner .branches .line_#{$i}{
      background: url('../images/line_#{$i}.png') no-repeat;
    }
  }
 //костилі для йолочки йпт **** 
.banner .branches .line_1 {
  width: $defaultWidth;
  height: 82px;
}
.banner .branches .line_3 {
  right: 680px;
  left: auto;
}
.banner .branches .line_4 {
  left: 80px;
}
.banner .branches .line_5 {
  right: 730px;
  left: auto;
}
.banner .branches .line_6 {
  width: 100px;
  height: 100px;
  left: 91px;
  top: 4px;
}
.banner .branches .line_7 {
  width: 50px;
  height: 65px;
  right: 80px;
  bottom: 4px;
  left: auto;
}
.banner .break {
  width: $defaultWidth;
  height: $defaultHeight;
  position: absolute;
  @include corner_lt;
  z-index: 10;
}
.banner .break .child{
  width: $defaultWidth;
  height: $defaultHeight;
  position: absolute;
  @include corner_lt;
}
.banner #toys {
  width: $defaultWidth;
  height: $defaultHeight;
  position: absolute;
  @include corner_lt;
  background: url('../images/bg_pattern.png') no-repeat;
  opacity: 0;
  z-index: 1;
}